@import url("satoshi.css");

body {
  font-family: 'Satoshi', sans-serif;
}

a {
  text-decoration: none;
  color: blue;      /* makes link text use the surrounding text color */
}

a:hover {
    color: red;
}

.list-style-type-none {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
}

.flex-1 {
    flex: 1 1 0;
}

.flex-2 {
    flex: 2 1 0;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-align-stretch {
    align-items: stretch;
}

.flex-align-items-base {
    align-items: baseline;
}

.flex-align-items-center {
    align-items: center;
}

.flex-grid {
    display: grid;
}

.text-align-center {
    text-align: center;
}