.flex-container {
    display: flex;
}

.flex-1 {
    flex: 1 1 0;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-align-stretch {
    align-items: stretch;
}

.flex-grid {
    display: grid;
}